On other routing metrics

Explain if other "routing metrics" mentioned in IDR docs are relevant or if they can be referenced. (This was asked by Ketan during IETF 121.)

We have a draft in IDR https://datatracker.ietf.org/doc/html/draft-ll-idr-cats-bgp-extension-00, which defines the solution of using BGP for cats. In the basic mode, it uses the extensions in https://datatracker.ietf.org/doc/html/draft-ietf-idr-5g-edge-service-metadata-24.  5G-edge draft defines a general mechanism with several TLVs. CATS may use some of them but not all. 

Hi, all, I've reviewed two drafts mentioned from Ketan, https://datatracker.ietf.org/doc/draft-ietf-idr-bgp-generic-metric/ and https://www.ietf.org/archive/id/draft-ietf-lsr-flex-algo-bw-con-15.html#section-2 

The first draft is an extension of RFC 7311 AIGP which is a set of accumulated cost metrics used in IGP domain, to inter domain usage by leverging BGP extensions for generic metrics defined in the second draft. It names the new mechanism AMetric. 
Some should be noted that:

- these generic metrics typically refer to network metrics as described in Section 2 of draft-ietf-lsr-flex-algo-bw-con-15:
"The Traffic Engineering Default Metric is defined in [RFC5305] and [RFC3630] and the Min Unidirectional delay metric is defined in [RFC8570] and [RFC7471]. Other metrics, such as jitter, reliability, and fiscal cost may be helpful, depending on the traffic class."

- These two drafts are more on metric exposure and metric distribution rather than the definition of new metrics.
- As mentioned in https://datatracker.ietf.org/doc/draft-ietf-idr-bgp-generic-metric/ , it keeps emphasizing accumulation which should be compared with aggregation that mentioned in our drafts. 
- Similarly, it has a definition on normalized bit(Section 5) and which component does normalization(Section 8), and the way to use this normalized value(Section 8 and 9). I think we should refer to this part when we consider to define our normalized CATS metrics.
- As Cheng mentioned above and also Lindar mentioned in the list, there are some other documents describing CATS related metrics and ways to exposure. We should also look into these docs and put them into the same discussion thread.    

Discussion 11.20: AIGP draft is not mature. 

some info FYI.
[1]. https://mailarchive.ietf.org/arch/browse/idr/?q=draft-ssangli-idr-bgp-generic-metric-aigp
[2]. https://datatracker.ietf.org/doc/html/draft-ssangli-idr-bgp-generic-metric-aigp-08#section-13
[3]. https://datatracker.ietf.org/meeting/119/materials/slides-119-idr-sessa-1-1-generic-metric-for-the-aigp-attribute-00 
[4]. https://mailarchive.ietf.org/arch/msg/idr/HmvVM33WIrzEJ87U5QkWGjfvvNY/
[5]. https://datatracker.ietf.org/doc/draft-ietf-idr-entropy-label/
