[Adrian's feedback] Section 3

3.1

   Introducing a definition of metrics requires balancing the following
   trade-off: if the metrics are too fine-grained, they become
   unscalable due to the excessive number of metrics that must be
   communicated through the metrics distribution protocol. (See
   [I-D.rcr-opsawg-operational-compute-metrics] for a discussion of
   metrics distribution protocols.)  Conversely, if the metrics are too
   coarse-grained, they may not have sufficient information to enable
   proper operational decisions.

Something wrong here. I think that if we had just one metric, then there
would not be an excessive number of metrics that have to be communicated
even if the metric is fine grained.

I think you are probably talking about the number of updates that have
to be made. But even this doesn't quite work because you could have a 
metric that is extremely fine-grained, but you might only update it once
an hour, or when the value changes by more than 50%.

So you are talking about the rate of churn in the advertisement.

But it is also relevant to talk about the number of metrices that are 
advertised. This seems to cut into your decision to have different levels
of aggregated metric.

 . . . . I don't think the bracketed sentence add anything here. Either
this is a topic you need to discuss (in which case discuss it!) or it is
not relevant here.

---

The discussion in Shenzhen was to not use "L1" etc. because of the
confusion with "Layer 1 == L1" etc.

I suggest you fix this simply by replacing every Lx with "Level x"

---

3.2

Wondering why you called out link utilization, loss, delay, and jitter
in 6.3.1.4, but not here.

---

3.2

I don't understand:

   *  Delay: Time taken to process a request.

What is a request? Are all requests the same? Where are you measuring
the time? Is "delay" the right word because it implies some kind of
additional time (such as queueing)? There is also some risk of 
confusion with "delay" as applied to transmission.

---

3.2

I believe it would be helpful to note that some of the L0 metrics you
list depend on performance monitoring, some depend on active state 
(i.e., "competing" with other uses), and some are static.

---

3.3

While 3.4 gives commentary about how different implementations may 
have different aggregation functions (although it should also refer
to "policy" in this regard), section 3.3 just says that aggregation
functions exist. Why this difference?

---

3.3

You have "Potential  categories include:"

Surely this Standards Track document needs to be more definitive.
Why would there be any doubt about the Level 1 categories? I suppose
"further categories may be defined in future specifications."

You also have:

   Editor note: detailed categories can be updated according to the CATS
   WG discussion.

That needs to be resolved.

---

3.3

   L0 metrics, such as those defined in [RFC8911], [RFC8912], [RFC9439],
   and [I-D.rcr-opsawg-operational-compute-metrics], can be categorized
   into the aforementioned categories.

- I don't see the value in the "such as" clause.
- Should you s/categorized/aggregated/  It is perfectly possible that 
  one level 0 metric will serve as input to more than one Level 1 
  aggregation.

---

3.3

   This approach allows the protocol to focus solely
   on the metric categories and their normalized values, thereby
   avoiding the need to process solution-specific detailed metrics.

(See also Level 1 bullet in section 3.1 and the heading to 3.3 and
most of the text in 3.3)

Are the values normalized or just aggregated? "Normalized" implies
(to me) that every node doing Level0-to-Level1 aggregation must use
the same function with no scope for implementation variation or the
application of policy by the operator. 

You may mean exactly what you say, in which case it would be good
to call out this point early in 3.3 and in the bullet in 3.1.

In 4.1, you make a solid distinction between "normalized" and
"aggregated", but this does not appear earlier in the document.

---

3.4

You have a "TO DO". You need to do it!

But this opens up a large question: which level metrics get distributed
and where is the aggregation taking place? I think this can be 
referenced direct to the framework.

