[Adrian's feedback] General comments

===

idnits throws up a number of warnings you need to fix:

  == There is 1 instance of lines with non-ascii characters in the document.

>> That's a smart apostrophe in the "Author's Note"

  ** The document seems to lack a both a reference to RFC 2119 and the
     recommended RFC 2119 boilerplate, even if it appears to use RFC 2119
     keywords. 

     RFC 2119 keyword, line 186: '...nes CATS metrics MUST be scalable,
ens...'
     RFC 2119 keyword, line 188: '...Additionally, it MUST be useful in
pra...'
     RFC 2119 keyword, line 571: '...s of CATS metrics SHOULD provide
clear...'
     RFC 2119 keyword, line 578: '...larly, operators SHOULD exercise
cauti...'
     RFC 2119 keyword, line 581: '...itive, operators MAY choose to rely
on...'
     (6 more instances...)

>> I'd note that all these cases could safely be lower case

  == Unused Reference: 'DMTF' is defined on line 1877, but no explicit
     reference was found in the text

>> I wonder if the problem is the lack of space between the end of the
>> XML angle bracket and the net character '-'

  ** Obsolete normative reference: RFC 6991 (Obsoleted by RFC 9911)

>> I think you just need to update

---

You can probably delete section 7

---

The Security Considerations section is TBD

---

The IANA considerations section is TBD, although perhaps Section 6 is
really that section?

---

Amusing that you reference this document.
I can see you've done that for sort of self-contained text in section
6, but I don't think that is right. You probably want to point at the 
RFC that this will become.

---

I am a bit confused about whether this document seeks to describe
network and compute metrics, or just compute metrics.

The description of network metrics in the early sections seems (to me)
to be very light. Just repeated references to RFC 9439, RFC 8912, and
RFC 8911, but no mention of the basic IGP metric, the simple TE metric,
and the various bandwidth metrics introduced for TE.

I think that several things are needed:
1. The Introduction must explain that the metrics are going to be
   classified into broad categories 
   - Compute
   - Communication
   - Service 
   - Composed
2. The Introduction must explain that aggregation will be used to
   reduce the number of metrics that need to be processed
3. You need to be more prudent with your references. It is OK to
   reference RFC 9439, RFC 8912, and RFC 8911, but are you actually
   using them in a normative way? I would think that 6.3.1.4 is the 
   place for the reference when mentioning L0 communication metrics,
   but even there you only have "e.g."
4. While being prudent about references, I'd note that you use
   draft-rcr-opsawg-operational-compute-metrics in the same way as the
   three RFCs, but you only list it as Informative.

For example, the final paragraph of 3.2 doesn't seem to add any value
(perhaps it is intended to, but I don't see what it is doing apart
from telling me that there are some documents related to Level 0 
metrics). This is a good example of draft-rcr being used in the same
way as the RFCs.

---

Several times you mention "the computing domain". What does that mean?
